*/*.swp
*/.vim/.netrwhist
userdots/.i3/config.vanilla
*/__pycache__
*.pyc

userdots/.config/*
!userdots/.config/dunst
!userdots/.config/gsimplecal
!userdots/.config/gtk-2.0
!userdots/.config/gtk-3.0
!userdots/.config/termite
!userdots/.config/wallpapers
!userdots/.config/sublime-text-3/Installed Packages/
!userdots/.config/htop
!userdots/.config/htop/htoprc
!userdots/.config/i3lock
!userdots/.config/i3blocks
!userdots/.config/i3blocks/config
!userdots/.config/filezilla


userdots/.weechat/*
!userdots/.weechat/weechat.conf
!userdots/.weechat/plugins.conf
!userdots/.weechat/perl/beep.pl

.vagrant
menu.sh
ee
xx
userdots/.atom/*

